{% autoescape off %}
{% load static %}
<!doctype html>
<html lang="en">
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div style="background-color:rgb(122, 0, 0); height: 15vh; padding: 15px 0;">
                <center><h3 style="color: white; padding-bottom: 5px;">Deposit Confirmation Mail</h3></center>
            </div>
            <div style="padding: 10px 5px;">
                <p style="font-size: larger;">Dear <strong>Admin</strong></p>
                <p style="font-size: larger;">
                    A Deposit has been said to be made details of transaction below.
                    <br>
                    <strong>First Name:</strong> {{first_name}}
                    <br>
                    <strong>Last Name:</strong>  {{last_name}}
                    <br>
                    <strong>Email:</strong>  {{email}}
                    <br>
                    <strong>Amount:</strong>  {{amount}}
                    <br>
                    <strong>Reference Number:</strong>  {{reference}}
                    <br>
                    <strong>Payment Method:</strong>  {{wallet}}
                    <br>
                    <strong>Type of deposit:</strong>  {{deposit_type}}
                    <br>
                    
                    
                    Please click on Approved below to confirm payment of the user.    
                </p>
                <br>
                <a style="background-color: #300629; border-radius: 10px; padding: 10px; text-decoration: none; color: white;" href="{{ protocol }}://{{ domain }}{% url 'payments:approve_deposit' pk %}">Approved</a>
                <br>
                <br>
                <p style="font-size: larger;">
                    Thank you for choosing <a href="Flappybit.com " style="text-decoration: none; font-size: larger;">Flappybit.com</a><br>
                    Best Regards, <br>
                    Admin, <br>
                    <a href="Flappybit.com" style="text-decoration: none; font-size: larger;">Flappybit.com</a>

                </p>
            </div>
            <div style="background-color:rgb(122, 0, 0); height: 15vh; margin-top: 15px; padding: 15px 0;">
                <center><p style="text-transform: uppercase; color: white;">Flappybit</p></center>
                <center><p style="color: white;">Lagos,  Nigeria
                </p></center>
                <center><h6 style="color: white;">2024©Flappybit, inc. All Rights Reserved</h6></center>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
{% endautoescape %}