{% extends 'base2.html' %}
{% load static %}


{% block sidebar %}
    <li>
        <a href="{% url 'profile' %}" class="active">Dashboard</a>
    </li>
    <li>
        <a href="{% url 'rewards' %}">Rewards</a>
      </li>
    <li>
        <a href="{% url 'history' %}">Transaction History</a>
    </li>
    <li>
        <a href="{% url 'payments:deposit' %}">Deposit</a>
    </li>
    <li>
        <a href="{% url 'payments:withdrawal' %}">Withdrawal</a>
    </li>
{% endblock %}

{% block content  %}

<link rel="stylesheet" href="{% static 'css/custom.css' %}">


    <div class="row justify-content-center g-4">
        <div class="col-lg-6 col-xl-4 col-md-6 col-sm-10">
            <div class="dashboard__card">
                <div class="dashboard__card-content">
                    <h2 class="price">{% if balance %} ₱{{balance}} {% else %} ₱0 {% endif %}</h2>
                    <p class="info">TOTAL BALANCE</p>
                    
                </div>
                <div class="dashboard__card-icon">
                    <i class="las la-wallet"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-4 col-md-6 col-sm-10">
            <div class="dashboard__card">
                <div class="dashboard__card-content">
                    <h2 class="price">{% if amount %} ₱{{amount}} {% else %} ₱0 {% endif %}</h2>
                    <p class="info">TOTAL DEPOSIT</p>
                    
                </div>
                <div class="dashboard__card-icon">
                    <i class="las la-wallet"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-4 col-md-6 col-sm-10">
            <div class="dashboard__card">
                <div class="dashboard__card-content">
                    <h2 class="price">{% if bal %} ₱{{bal}} {% else %} ₱0 {% endif %}</h2>
                    <p class="info">TOTAL WITHDRAW</p>
                    
                </div>
                <div class="dashboard__card-icon">
                    <i class="las la-money-check"></i>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-xl-4 col-md-6 col-sm-10">
            <div class="dashboard__card">
                <div class="dashboard__card-content">
                  <h2 class="price"> {{ valid_referrals_count }}</h2>
                    <p class="info">VALID REFERRALS</p>
                </div>
                <div class="dashboard__card-icon">
                    <i class="las la-money-check"></i>
                </div>

            </div>
        </div>

        <div class="col-lg-6 col-xl-4 col-md-6 col-sm-10">
            <div class="dashboard__card">
                <div class="dashboard__card-content">
                    <h2 class="price">₱{{ user.referral_income }}</h2>
                    <p class="info">REFERRAL EARNINGS</p>
                    <form action="{% url 'claim-referral-income' %}" method="post">
                        {% csrf_token %}
                        <button class="btn btn-primary mt-2" type="submit">Claim</button>
                    </form>
                    
                </div>
                
            </div>
        </div>
    </div>
    <hr>
            <br>
            <table class="table">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Username</th>
                        <th>Total Referrals</th>
                        <th>Referral Income</th>
                    </tr>
                </thead>
                <tbody>
                  {% for user in leaderboard %}
                  <tr>
                      <td>{{ forloop.counter }}</td>
                      <td>{{ user.first_name }}</td>
                      <td>{{ user.total_referrals }}</td>
                      <td>₱{{ user.total_income }}</td>
                  </tr>
                  {% endfor %}
              </tbody>
            </table>
        
    </div>


{% endblock %}