{% extends 'base.html' %}
{% load static %}
{% block body %}




<!-- Login creation start -->
<section class="account-section overflow-hidden bg_img">
    <div class="container">
        <div class="account__main__wrapper">
            <div class="account__form__wrapper">
                <p class="text-center">
                    We’ve emailed you instructions for setting your password,
                    You should receive them shortly. If you don’t receive an email please check your spam folder and make sure you’ve entered the correct gmail address
                    or contact our customer service.
                </p>
            </div>

        </div>
    </div>
</section>
<!-- Login creation ends -->


{% endblock %}