{% extends 'base.html' %}
{% load static %}
{% block body %}




<!-- Login creation start -->
<section class="account-section overflow-hidden bg_img">
    <div class="container">
        <div class="account__main__wrapper">
            <div class="account__form__wrapper">
                <h2>Password Reset Successful</h2>
                <br>
                <p class="text-center">
                    Your password has been set. You may go ahead and <a href="{% url 'login' %}" class="forgot-pass text--base">log in</a> now.
                </p>
            </div>

        </div>
    </div>
</section>
<!-- Login creation ends -->


{% endblock %}