{% extends 'base.html' %}
{% load static %}
{% block body %}

<link rel="stylesheet" href="{% static 'css/main.css' %}">

<!-- Login creation start -->
<section class="account-section overflow-hidden bg_img mt-5">
    <div class="container">
        <div class="account__main__wrapper">
            <div class="account__form__wrapper">
                
                <form class="account__form form row g-4" method="post">

                    {% csrf_token %}
                    
                    {% if form.error %}
						<div class="errors">
							<p>Both password must match.</p>
						</div>
					{% endif %}
                    
                    <h1 class="form-text">Enter Your New Password</h1>
            
                    
                    <div class="col-12">
                        <div class="form-group">
                            <div for="password" class="input-pre-icon"><i class="las la-lock"></i></div>
                            {{form.new_password1}}
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="form-group">
                            <div for="password" class="input-pre-icon"><i class="las la-lock"></i></div>
                            {{form.new_password2}}
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <button class="cmn--btn active w-100 btn--round" type="submit">Reset Password</button>
                        </div>
                    </div>
        
                </form>
            </div>

        </div>
    </div>
</section>
<!-- Login creation ends -->


{% endblock %}